.headingtitle {
  text-align: start;
  border-left: 4px solid #ecd574;
  text-transform: uppercase;
  font-variant-caps: petite-caps;
  padding: 0;
  margin-top: 50px;
}

.listStyle {
  list-style: none;
  display: block;
  padding: 0;
}

.listStyle > li {
  text-align: left;
  border-bottom: 1px solid #ebebeb;
  padding-top: 15px;
  padding-bottom: 15px;
  /* display: flex; */
}
.rightborder {
  border-right: 1px solid #ebebeb;
}

.results {
  margin-top: 25px;
  text-align: left;
}

.buttonStyle {
  margin-right: 10px;
  margin-top: 20px;
}

#thumbnailStyle {
  margin-right: 10px;
}
