.content{
    margin-bottom: 9.5vh;
    background-color: #FFFFFF;
}

.headerc{
    top: 0px;
    position: relative;
    padding-top: 2.5vh;
    margin-right: 40vh;
    margin-left: 40vh;
    border-radius: 50px;
    padding-bottom: 2.5vh;
    background-color: #212529;
    border-bottom: 2px solid #212529;
    border-top:  2px solid #212529;
    color: #FFFFFF;
    text-transform:uppercase;
}

.alignments {
    display: flex;
    justify-content: center;
}

.card-alignments {
    display: flex;
}

.bannerStyle{
    object-fit: cover;
    width: 100%;
    height:auto;
}