.me-2 {
    border-radius: 100px;
    width: 350px;
}

@media screen and (max-width: 1216px) {
    .me-2 {
        width: 250px;
    }
}

@media screen and (max-width: 1100px) {
    .me-2 {
        width: 250px;
    }
    .navbar-dark .navbar-nav .nav-link {
        font-size: smaller;
    }
    .form-control {
        font-size: smaller;
    }
}

@media screen and (max-width: 1036px) {
    .me-2 {
        width: 200px;
    }
    .search-btn {
        line-height: 1;
        font-size: smaller;
    }
}

/* from this size should be mobile resolution  */
@media screen and (max-width: 991px) {
    .me-2 {
        width: 200px;
    }
    .search-btn {
        line-height: 1;
        font-size: smaller;
    }
}
