/*
.textcontent{
    margin-top: 3vh;
} */

.headingtitle{
    text-align: start;
    border-left: 4px solid #ecd574;
    text-transform: uppercase;
    font-variant-caps: all-petite-caps;
}

.viewalltext{
    text-align: end;
    color: #e0bd4d;
}
.viewalltext:hover{
    color: #f6ecbb;
}

.flexstyle{
    display:flex;
}