p {
    color: aliceblue;
}

.movies-dropdown-content {
    display: none;
    position: absolute;
    z-index: 2;
    left: -682px;
    width: 1103px;
    background-color: #212529;
    padding: 2em;
}

.dp-flex {
    display: flex;
}

.dropdown:hover .movies-dropdown-content {
    display: block;
    z-index: 2;
}

.movies-dropdown-items {
    padding-right: 3em;
    font-size: small;
}

.movies-dropdown-imgs {
    padding-left: 100px;
    font-size: small;
}

.movies-dropdown-imgs p {
    padding-right: 225px;
}

.movie-poster {
    display: flex;
}

.posterStyle{
    margin-left: 2vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}