.nav-fonts {
    font-size: 12px;
    font-weight: 500;
}

.rightbar-container {
    padding-left: auto;
}

@media screen and (max-width: 991px) {
    .rightbar-container {
        display:none;
    }
}
