.footer-bg {
    background-color: #2A2C32;
    box-shadow: 0px -20px #FFFFFF , 0px -60px #F3F3F3 ;
}

.footer-pos {
    padding: 30px;
}

.footer-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

strong{
    font-weight: 500;
    font-size: 18px;
}

.footer-group {
    font-family: "Franklin Gothic","PT Sans",Arial,Sans-Serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;

}

.cib-gmail{
    font-size: 1rem;
    margin: 6px;
}

#nbutton{
    font-size: 14px;
}

.footer-group-l {
    font-family: "Franklin Gothic","PT Sans",Arial,Sans-Serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-align: left;
}
.footer-container ul li {
    list-style-type: none;
    margin-top: 0.3rem;
}

.icon-flex {
    display: flex;
    justify-content: space-between;
}
.icon-flex > i {
    margin: 6px;
    font-size: 1.5rem;
}

.footer-copyright{
    color:#6B6F6F;
}