.nav-fonts {
    font-size: 12px;
    font-weight: 500;
}

.rightbar-container {
    padding-left: 130px;
}

.dropdown {
    position: relative;
    display: inline-block;
}
p {
    color: aliceblue;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 2;
    left: -711px;
    width: 1103px;
    background-color: #212529;
    padding: 2em;
}

.dp-flex {
    display: flex;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-items {
    padding-right: 3em;
    font-size: small;
}

.dropdown-imgs {
    padding-left: 100px;
    font-size: small;
}

.movie-poster {
    display: flex;
    padding-left: 100px;
}
